/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: 'ChosunGs';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChosunGs';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: ChosunGs;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background: url("/images/background.jpg");
}
a {
  color: blue;
  text-decoration: underline;
}
h1 {
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
  color: #fdda97;
  -webkit-text-stroke: 0.2px #1f1f1f;
}
h2 {
  margin-top: 48px;
  font-size: 4.125rem;
  text-align: center;
  font-weight: bold;
  color: #fdda97;
  -webkit-text-stroke: 0.2px #1f1f1f;
}
h3 {
  margin-top: 48px;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #be9f64;
  -webkit-text-stroke: 0.2px #1f1f1f;
}
h4 {
  margin-top: 16px;
  font-size: 2.125rem;
  padding: 0px;
  text-align: center;
  font-weight: bold;
}
h5 {
  margin: 24px;
  font-size: 1.5rem;
  padding: 0px;
  text-align: center;
  font-weight: bold;
}
h6 {
  margin-bottom: 20px;
  font-size: 1.25rem;
  padding: 0px;
  text-align: center;
  font-weight: bold;
}
img {
  display: block;
  margin: auto;
  max-width: 100%;
}
.logo:hover {
  animation: rotate_image 3s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
p {
  padding: 20px 0;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5em;
}
.links {
  line-height: 1.5em;
}
.links .danger {
  font-size: 0.875rem;
  color: #ff3b30;
}
a:hover,
a:focus {
  animation-duration: 3s;
  animation-name: rainbowLink;
  animation-iteration-count: infinite;
}
@keyframes rainbowLink {
  0% {
    color: red;
  }
  15% {
    color: orange;
  }
  30% {
    color: yellow;
  }
  45% {
    color: green;
  }
  60% {
    color: blue;
  }
  75% {
    color: navy;
  }
  90% {
    color: purple;
  }
  100% {
    color: pink;
  }
}
.card {
  margin: 16px;
  padding: 8px;
  background-color: rgba(253, 218, 151, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: black;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.price:hover {
  animation-duration: 3s;
  animation-name: rainbowLink;
  animation-iteration-count: infinite;
}
.form > input {
  padding: 4px;
  width: 100%;
  height: 48px;
  font-size: 14px;
  background-color: #fdda97;
  border-radius: 8px;
  border: 2px solid black;
}
.form > input:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.form > button {
  font-size: 0.875rem;
  width: 100%;
  margin-top: 8px;
  height: 32px;
  border: 2px solid black;
  background-color: #be9f64;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 4px;
  border-radius: 8px;
}
.carousel-container {
  box-sizing: border-box;
  max-width: 100%;
  height: 400px;
  overflow: hidden;
}
.carousel-container > .carousel {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}
.carousel-container > .carousel > img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}
button:hover {
  animation-duration: 3s;
  animation-name: rainbowLink;
  animation-iteration-count: infinite;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.prev {
  font-size: 0.875rem;
  width: 40%;
  margin-top: 8px;
  margin-right: 16px;
  height: 32px;
  border: 2px solid black;
  background-color: #be9f64;
  padding: 4px;
  border-radius: 8px;
}
.next {
  font-size: 0.875rem;
  width: 40%;
  margin-top: 8px;
  margin-right: 16px;
  height: 32px;
  border: 2px solid black;
  background-color: #be9f64;
  padding: 4px;
  border-radius: 8px;
}
.warning {
  color: red;
}
.result {
  font-size: 0.875rem;
  margin-top: 8px;
}
.result:hover {
  animation-duration: 3s;
  animation-name: rainbowLink;
  animation-iteration-count: infinite;
}
footer {
  margin-top: 20px;
  line-height: 1.5em;
  text-align: center;
}
.mint-sparrow-nft-view .form {
  margin-top: 8px;
}
.mint-sparrow-nft-view .form input {
  margin-top: 8px;
  padding: 4px;
}
.mint-sparrow-nft-view .danger {
  color: #ff3b30;
}
.mint-sparrow-nft-view h5 {
  margin: 0px;
  margin-top: 8px;
}
.mint-sparrow-nft-view img {
  height: 200px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.mint-sparrow-nft-view img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

