.container{
    margin-top: 50px;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContainer{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContainer h1 {
    font-weight: 700;
}
.leftContainer{
    
    margin-right: 30px;
}
.tokenContainer {
    width: 28rem;
    height: 40rem;
    background: #fff;
    border-radius: 15px;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
}
.tokenContainer:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.desc{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.user {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.userText {
    margin-left: 15px;
    font-size: 16px;
    letter-spacing: 1px;
}
.userText span {
    font-weight: 600;
}
.userText div {
    color: #2181e2;
}

.tokenTransferContainer{
    border-left: 1px solid rgba(0,0,0,0.25);
    padding-left: 40px;
    width: 30%;
    height: 90%;
    
}
.contentContainer{
    margin: 25px 0;
}
.contentValue {
    font-size: 18px;
    font-weight: 300;
}
.contentFont {
    font-size: 24px;
    font-weight: 500;
}
.btnContainer{
    margin-top: 50px;
}