html,
body {
  height: 100%;
}
body {
  background-image: linear-gradient(
    7deg,
    #febdab 0%,
    #f8b9a9 25%,
    #a56274 60%,
    #3c4459 80%,
    #3c4459 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

$size: 10em;
$scale: 0.65;

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20em;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 2px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 2px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 1px, transparent 2px);
  background-size: 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.moon {
  position: absolute;
  left: calc(50% - $size / 2);
  top: calc(50% - 15em);
  width: $size * 2.5;
  height: $size * 2.5;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(
    221deg,
    rgb(233, 200, 184) 0%,
    rgba(0, 0, 0, 0) 58%,
    rgba(0, 0, 0, 0) 100%
  );
}

.eth {
  position: absolute;
  left: calc(50% - $size / 2);
  top: calc(50% - 4em);
  width: $size;
  height: $size;
  font-size: 1em * $scale;
  .top,
  .bottom {
    width: $size;
    height: $size;
    background: rgba(248, 185, 167, 0.91);
    transform: rotateX(65deg) rotateZ(45deg);
    transform-style: preserve-3d;
    position: absolute;
    animation: rotate 7s linear infinite;

    .left,
    .right,
    .up,
    .down {
      position: absolute;
      width: 0;
      height: 0;
    }

    .left,
    .right {
      border-left: 5em solid transparent;
      border-right: 5em solid transparent;
      border-bottom: 15em solid rgba(253, 216, 190, 0.5);
      transform-origin: bottom;
    }

    .up,
    .down {
      transform-origin: bottom right;
      border-top: 5em solid transparent;
      border-right: 15em solid rgba(254, 188, 166, 0.4);
      border-bottom: 5em solid transparent;
      border-left: none;
      top: 0em;
    }

    .left {
      left: 0;
      top: -($size / 2);
      transform: rotateX(-70deg);
    }

    .right {
      transform: rotateX(-110deg);
      left: 0em;
      top: -($size * 1.5);
    }

    .up {
      transform: rotateY(70deg);
      left: -($size / 2);
    }

    .down {
      transform: rotateY(110deg);
      left: -($size * 1.5);
    }
  }

  .top {
    left: 0;
    top: 0;
  }
  .bottom {
    left: 0;
    top: 1.5em;
    background: rgba(208, 161, 152, 0.79);
    .left,
    .right {
      border-bottom: 15em solid rgba(248, 185, 167, 0.91);
    }

    .up,
    .down {
      border-right: 15em solid rgba(248, 200, 167, 0.55);
    }

    .left {
      transform: rotateX(70deg);
    }

    .right {
      transform: rotateX(110deg);
    }

    .up {
      transform: rotateY(-70deg);
    }

    .down {
      transform: rotateY(-110deg);
    }
  }
}

.base {
  position: absolute;
  top: calc(50% + 7.5em);
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    background: rgba(255, 225, 204, 0.4);
    position: absolute;
  }
  @for $i from 1 to 25 {
    li:nth-child(#{$i}) {
      width: $i * 0.75 + 10em;
      height: $i * 0.75 + 10em;
      transform: rotateX(83deg) rotateZ(-90deg) translateX(1em + -$i * 0.5);
    }

    li:nth-child(#{ 25 - $i}) {
      opacity: $i * 0.1;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotateX(65deg) rotateZ(0deg);
  }

  to {
    transform: rotateX(65deg) rotateZ(360deg);
  }
}
