.mainContainer {
    width: 100%;
    display: grid;
    /* grid-auto-rows:minmax(1fr,auto); */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(auto-fill,minmax(1fr,auto));
    margin-bottom: 50px;
}